/* Odev 1
  body {
    background: black;
  }
  
  .clock {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
  }
  
  .text1 {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
  }
  
  .text2 {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
    margin-right: 100px;
    margin-left: 100px;
  }
  
   img {
       margin-top: 120px;
       width: 17%;
  } */

  /* Odev 2*/
  /* * {
    box-sizing: border-box;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  ul li:hover {
    background: #ddd;
  }
  
  ul li.checked {
    background: #276678;
    color: #fff;
    text-decoration: line-through;
  }
  
  ul li.checked::before {
    content: "";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f78501;
    color: white;
  
  }
  
  .header {
    background-color: #f78501;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  img {
    background-color: white;
  }
  
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  .button {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .button:hover {
    background-color: #bbb;
  } */

  /* Odev 3*/
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #f1f5f8;
    font-family: "Zilla Slab", serif;
  }
  
  h2 {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    text-align: center;
    color: #ff6a23;
  }
  .menu {
    margin-top: 20px;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
  .btn-item {
    margin-left: 15px;
  }
  
  .photo {
    width: 30%;
    height: 175px;
    object-fit: cover;
    border: 0.25rem solid black;
    border-radius: 10px;
  }
  .menu-items {
    display: flex;
    margin: 20px 0;
  }
  .menu-info {
    margin-left: 20px;
    width: 100%;
  }
  .menu-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  
  h4 {
    color: #e00a00;
  }
  
  .menu-text {
    padding-top: 20px;
  }